body {
  font-family: 'Ubuntu', sans-serif;
}

#sidebar {
	background: #f0f0f0;
	padding: 5px;
	width: 10%;
	float: left;
	border-right: 5px solid blue;
	    border-right-color: blue;
	    border-right-style: solid;
	    border-right-width: 5px;
}
img {
  width: 80%;
  height: 100%;
  border: none; 
}
footer{
  	text-align: right;
  	}
   aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    float: left;
    border-right: 5px solid blue;
   }
   article {
    margin-right: 240px;
    display: block;
   }
   .h1head {
    font-size: 150px;
   	text-align: center;
   	font-family: 'Lobster', cursive;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 1000px;
   }
   .firstp {
   	text-align: center;
   	font-size: 26px;
   }
   .sech1 {
   	text-align: center;
    font-size: 150px;
    min-height: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
   	font-family: 'Lobster', cursive;
   }